<h1>用戶資料</h1>
<br>
<form action="user.php" method="POST" class="form-horizontal" id="user_form">
    <input type="hidden" name="op" value="user_change">
    <div class="form-group">
        <label for="user_id">帳號</label>
        <input type="text" class="form-control" name="user_id" id="user_id" value="{$user_info.user_id}" placeholder="帳號" disabled>
    </div>
    <div class="form-group">
        <label for="user_pw">生日</label>
        <input class="form-control" id="birth" name="birth" type="text" value="{$user_info.birth}" placeholder="2000-01-31" required>
    </div>
    <div class="form-group">
        <label for="user_pw">Email</label>
        <input class="form-control" id="email" name="email" type="text" value="{$user_info.email}" placeholder="abc@example.com" required>
    </div>
    <div class="form-group">
        <label for="user_pw">手機 (選填)</label>
        <input class="form-control" id="phone" name="phone" type="text" value="{$user_info.phone}" placeholder="0912345678">
    </div>
    
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="更新資料">
        <a class="btn btn-danger" href="user.php?op=change_pw">修改密碼</a>
        {if isset($msg)}
            <b class="text-danger">●{$msg}</b>
        {/if}
    </div>

</form>