<form class="form-inline" action="" method="get" style="padding-left: 70px;">
    <input id="keep_pd" type="hidden" name="pdType" value="">
    <!-- <select class="form-control" id="searchType" name="searchType" style="width: 100px;">
        <option value="0">品名</option>
        <option value="1">作者</option>
    </select> -->
    <input type="text" style="margin-top: 5px; margin-bottom: 3px;" class="form-control" id="keyWord" name="keyWord" placeholder="請輸入產品關鍵字">
    <br>
    <input type="text" class="form-control" id="minPrice" name="minPrice" placeholder="最低價">
    <span>~</span>
    <input type="text" class="form-control" id="maxPrice" name="maxPrice" placeholder="最高價">
    <button type="submit" style="width: 30px;height: 30px;">
        <img src="templates/web_image/search.png" width="20px">
    </button>
</form>

<script>
    var urlParams = new URLSearchParams(window.location.search);
    var myParam = urlParams.get('pdType');
    document.getElementById("keep_pd").value = myParam;
</script>