<div class="shop_card">
    <button class="full-rounded" onclick="location.href='search.php?pdType=science'">
        <span>科學</span>
        <div class="border full-rounded"></div>
    </button>
    <button class="full-rounded" onclick="location.href='search.php?pdType=novel'">
        <span>小說</span>
        <div class="border full-rounded"></div>
    </button>
    <button class="full-rounded" onclick="location.href='search.php?pdType=travel'">
        <span>旅遊</span>
        <div class="border full-rounded"></div>
    </button>
    <button class="full-rounded" onclick="location.href='search.php?pdType=language'">
        <span>語言</span>
        <div class="border full-rounded"></div>
    </button>
    <button class="full-rounded" onclick="location.href='search.php?pdType=computer'">
        <span>電腦</span>
        <div class="border full-rounded"></div>
    </button>
    <button class="full-rounded" onclick="location.href='search.php?pdType=cd'">
        <span>CD</span>
        <div class="border full-rounded"></div>
    </button>
</div>