<div class="row">
        <div class="col-sm-4">
                <img src="{$post.picture}" alt="{$post.post_title}" class="img-thumbnail">
        </div>
        <div class="col-sm-8">
            <h2>{$post.post_title}</h2>
            熱度: {$post.post_hot}
            {if $isadmin==true}
            <div> 
                <a href="tool.php?op=edit&number={$post.post_number}" class="btn btn-warning">編輯文章</a>
                <a href="tool.php?op=delete&number={$post.post_number}" class="btn btn-danger">刪除文章</a>
            </div>
            {/if}
</div>
<div class="row">
    <div class="col-md-12">
        <h3>content:</h3>
        <p>{$post.post_content}</p>
    </div>
</div>