<div id='panel' class="form-horizontal" style="width: 250px; margin-top: 50px; margin-bottom: 30px;">
    <div class='alert alert-success text-center' id="welcome_user_info2">Welcome! {$user_id}<br></div>
    <p id="user_rank_info2" hidden>{$user_rank}</p>
    <a href="user.php?op=check_order" class="btn btn-block btn-info">查看訂單狀態</a>
    <a href="user.php?op=display_user" class="btn btn-block btn-primary">管理個人資料</a>
    <a href="user.php?op=logout" class="btn btn-block btn-danger">登出</a>
</div>
<script>
    let info2 = document.getElementById("welcome_user_info2");
    switch (document.getElementById('user_rank_info2').innerHTML) {
        case '1':
            info2.innerHTML += "銅級會員";
            break;
        case '2':
            info2.innerHTML += '銀級會員';
            break;
        case '3':
            info2.innerHTML += '金級會員';
            break;
        default:
            info2.innerHTML += "銅級會員";
            break;
    }
</script>