<h2>聊天室</h2>
<div class="row">
    <div id="chatbox">
        <div class="col-md-5 media">
            <div class="media-left media-bottom">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Golden_Retriever_Buddy_0311.jpg/220px-Golden_Retriever_Buddy_0311.jpg" width="40" height="40">
            </div>
            <div class="panel panel-info media-body">
                <div class="panel-body">
                    <p>test</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--{$chatuser}-->